body, html{
    height: auto;
}

#cimsav-text{
    padding-bottom: 0.01%;
}
.cimsav-text{
    text-align: center;
}
.szoveg{
    text-align: center;
}
.kep-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-div{
    width: 100%;
    box-shadow: 0px 5px 5px;
}
div.navbar-nav.row{
    width: 100%;
    text-align: center;
}
.navbar-nav a{
    color: var(--bs-navbar-active-color);
}
a.active{
    font-weight: bold;
    text-decoration: underline;
}

.torzs h1{
    font-size: 3.5em;
}
.torzs div.row div.szoveg{
    font-size: 2.3em;
}
.torzs div.row div img.kep{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}
.torzs div.row div.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}
#valasztomenu{
    margin-top: 8%;
}
.valasztszoveg{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
.valasztkep{
    display: flex;
    align-items: center;
    justify-content: center;
}
.valasztkep img{
    width: 100%;
}
.valasztszoveg{
    margin-bottom: 3%;
}
div.card a{
    text-decoration: none;
    color:white;
}
.valasztdiv .card{
    scale: 100%;
    transition: scale 0.2s;
}
.valasztdiv .card:hover{
    scale: 105%;
    transition:  scale 0.2s;
}

.row-margin{
    margin-top: 2%;
    padding-bottom: 2%;
}

div.szoveg b{
    font-size: 1.3em;
}
.navbar-div .cimsav-text{
    color: white;
}
.navbar-div a{
    color: white !important;
}